<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <img src="/assets/reddit.svg" class="img">
        <nav>
            <ul class="links">
                <li><span class="iconify" data-icon="bx:home" id="home"></span></li>
                <li><span class="iconify" data-icon="bx:user" id="user" data-flip="horizontal"></span></li>
                <li><span class="iconify" data-icon="bx:plus" id="plus"></span></li>
            </ul>
        </nav>
        <div class="logoutSection">
            <p class="userName">farah</p>
            <p><a href="#"> log out</a></p>
        </div>
    </header>
    <section class="commentSection">
        <div class="postwithComments">
            <div class="VoteSide">

                <p><span class="iconify" data-icon="bx:upvote"></span></p>
                <p>24</p>
                <p><span class="iconify" data-icon="bx:downvote"></span></p>
            </div>
            <div class="contentSide">
                <div class="postHeader">

                    <p>farah</p>
                </div>
                <div class="postContent">
                    <p>
                        Palestinian youths relax on the beach of Rafah in the southern Gaza Strip, despite the tense
                        security situation in the Strip after the capture of Corporal Gilad Shalit, June 2006
                    </p>
                    <img src="../../assets/img.jpeg" class="imgCont">
                    <div>
                        <p>comment<span class="iconify" data-icon="bx:comment"></span></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="comments">
            <div class="addComments">
                <p>comments</p>
                <form class="addCommentsForm">
                    <textarea class="commentContent" name="content" rows="12" cols="20" placeholder="comments"
                        required></textarea>
                    <button class="commentBtn">post</button>
                </form>
            </div>
           <div class="commentsContainer">
                <!-- <div class="comment">
                    <p class="usernameComment">user name</p>
                    <p class="CommentText"> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip,
                        despite the tense</p>
                </div>
                <div class="comment">
                    <p class="usernameComment">user name</p>
                    <p class="CommentText"> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip,
                        despite the tense</p>
                </div>
                <div class="comment">
                    <p class="usernameComment">user name</p>
                    <p class="CommentText"> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip,
                        despite the tense</p>
                </div>
                <div class="comment">
                    <p class="usernameComment">user name</p>
                    <p class="CommentText"> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip,
                        despite the tense</p>
                </div>
                <div class="comment">
                    <p class="usernameComment">user name</p>
                    <p class="CommentText"> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip,
                        despite the tense</p>
                </div>
                <div class="comment">
                    <p class="usernameComment">user name</p>
                    <p class="CommentText"> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip,
                        despite the tense</p>
                </div>
                <div class="comment">
                    <p>user name</p>
                    <p> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip, despite the tense</p>
                </div>
                <div class="comment">
                    <p>user name</p>
                    <p> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip, despite the tense</p>
                </div>
                <div class="comment">
                    <p>user name</p>
                    <p> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip, despite the tense</p>
                </div>
                <div class="comment">
                    <p>user name</p>
                    <p> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip, despite the tense</p>
                </div>
                <div class="comment">
                    <p>user name</p>
                    <p> Palestinian youths relax on the beach of Rafah in the southern Gaza Strip, despite the tense</p>
                </div>-->
            </div>
        </div>
    </section>
<script src="/js/axios.js"></script>
<script src="/js/userdata.js"></script>
<script src="/js/DOM.js"></script>
<script src="/js/comment.js"></script>
</body>

</html>

</html>