<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Document</title>
</head>

<body>
    
    <header class="AuthHeader">
        <img src="../../assets/reddit.svg" class="img">
        <nav>
            <ul class="links">
                <li id="home"><span class="iconify" data-icon="bx:home" ></span></li>
                <li id="user"><span class="iconify" data-icon="bx:user"  data-flip="horizontal"></span></li>
                <li  id="plus"><span class="iconify" data-icon="bx:plus"></span></li>
            </ul>
        </nav>
        
        <div class="logoutSection">
            <p class="userName">farah</p>
            <p><a href="#"> log out</a></p>
        </div>
    </header>
    

    <header class="UnAuth">
        <img src="../../assets/reddit.svg" class="img">
       
        
        <div class="logoutSection">
            <p><a href="/signUp"> sign up</a></p>
            <p><a href="/login"> log in</a></p>
        </div>
    </header>
    <section class="commentSection">
        
        <div class="postwithComments">
            <div class="VoteSide">

                <p><span class="iconify" data-icon="bx:upvote"></span></p>
                <p>24</p>
                <p><span class="iconify" data-icon="bx:downvote"></span></p>
            </div>
            <div class="contentSide">
                <div class="postHeader">

                    <p class="publicherName">farah</p>
                </div>
                <div class="postContent">
                    <p class="postDetails">

                    </p>
                    <img  class="imgLink">
                    <div>
                        <p class="commentButton">comment<span class="iconify" data-icon="bx:comment"></span></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="comments">
            <div class="addComments">
                <p>comments</p>
                <form class="addCommentsForm">
                    <textarea class="commentContent" name="content" rows="12" cols="20" placeholder="comments"
                        required></textarea>
                    <button class="commentBtn">post</button>
                </form>
            </div>
           <div class="commentsContainer">
                <!---->
            </div>
        </div>
    </section>
<script src="/js/axios.js"></script>
<script src="/js/userdata.js"></script>
<script src="/js/DOM.js"></script>
<script src="/js/comment.js"></script>
</body>

</html>

</html>