<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   
    <link rel="stylesheet" href="../css/styles.css">
    <title>Reddit</title>
</head>
<body>
    <nav>
        <img src="../assets/reddit.svg" class="img">
    </nav>
    <section>
        <div class="signUpSection">
            <h1>Sgin Up</h1>
            <form id="signUpForm">
            
                <input type="email" value="" name ="email" placeholder="enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required >
           
                <input type="input" value="" name="username" placeholder="username" min="3" max="200" required>
              
                <input type="password" min="8" name="password" placeholder="password" required>
                <input type="password" min="8" name="repeatPassword" placeholder="repeat Password" required>
                <button type="submit" class="btn"> Sign Up</button>
            </form>
            <p> have a acount ? <a href="/login">here</a></p>
        </div>
    </section>
    <script src="../js/axios.js"></script>
    <script src="../js/signUp.js"></script>
</body>
</html>