*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #DAE0E6;
}
.AuthHeader{
    display: none;  
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #fff;
}
.UnAuth{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #fff;
}

.img{
    width: 100px;
    height: 50px;
   
}
.links {
    list-style: none;
  }
  
  .links li {
    display: inline-block;
    padding: 0 20px;

    cursor: pointer;
  }
.logoutSection{
    display: flex;
}
.logoutSection p{
    color:#000;
    margin-left: 20px;
}
.logoutSection a{
    color:#fff;
    text-decoration: none; 
    background-color: #0079d3;
    padding: 10px;
    border-radius: 5px;
}
.postSection{
    width: 70vw;

    display: flex;
    flex-direction: column;
    padding: 0 350px;
  
   
}
.inputPostSection{
    margin-top: 10px;
    width: 45vw;
    background-color: #fff; 
    height: 50px; 
    border-radius: 5px;
}
.postForm{
    padding: 5px 45px;
}
.postInput{
    border-radius: 5px;
 border: none;
    height: 35px;
    width: 500px;
    background-color:#DAE0E6 ;
}
.postwithComments{
    width: 55vw;
    background-color: #fff;
    display:flex;
    flex-direction: row;
    margin-top: 40px;
    border-radius: 2px;  
}
.post{
    width: 45vw;
    background-color: #fff;
    display:flex;
    flex-direction: row;
    margin-top: 40px;
    border-radius: 2px;
 
    
}
.postHeader{
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.postHeader p{
    font-size: 16px;
    font-weight: 700;
}
.postContent p{
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
    font-weight:500;
}
.VoteSide{
   
    width: 7%;
    background-color: #FFFFFF;
    padding-left: 10px;
    
}
.contentSide{
    width: 93%;
   
  
}
.postContent{
    width: 100%;   
   
}
.imgCont{
    padding-right: 2%;
    height: 97%;
    width: 97%;

  
}
.comment{
    padding-top: 10px;
    font-size: 12px;
}
.iconify{
    font-size: 26px;
   
}
.icons{
 
   margin-top: 15px;
}
.title{
    width: 50vw;
    height: 80px;
    border-bottom: 1px solid #fff;
}
.title p{
    padding-top: 50px;
    font-size: 18px;
    font-weight: 600;
}
.formPost{
    margin-top:15px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    height: 65vh;
}
.formPost input{
    margin-left: 40px;
    width: 44vw;
    margin-top:20px;
    height: 35px;

}
.formPost textarea{
    margin-left: 40px;
    margin-top:20px;
    width: 44vw; 
}
.addBtn{
    margin-top:20px;   
    border: none;
    width: 44vw;
    height: 40px;
    margin-left: 45px;
    background-color: #0079d3;
    color: #fff;
    
}
.commentSection{
    width: 80vw;

    display: flex;
    flex-direction: column;
    padding-left: 250px; 
}
.comments{
    width: 55vw;
    background-color: #fff;  
}
.addComments{
    padding:10px 70px;
}
.commentContent{
width: 45vw;
}
.commentBtn{
    border: none;
    background-color: #0079d3;
    color:#fff;
    width: 45vw;
    height: 30px;
    
}
.commentsContainer{
    padding :0 80px;

}
.comment{
    border-bottom: 2px solid #000;
    margin-top:10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.usernameComment{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}
.CommentText{
    font-size: 16px;  
}