<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" href="css/styles.css">
    <title>Reddit</title>
</head>
<body>
    <nav>
        <img src="../assets/reddit.svg" class="img">
    </nav>
    <section>
        <div class="LogInSection">
            <h1>Log in</h1>
            <form id="LogInForm">
            
           
                <input type="input" value="" name="username" placeholder="username" min="3" max="200" required>
              
                <input type="password" min="8" name="password" placeholder="password" required>
                <button type="submit" class="btn">Log in</button>
            </form>
            <p> dont't have a acount ? <a href="/api/v1/signup">here</a></p>
        </div>
    </section>
    <script src="js/axios.js"></script>
    <script src="js/logIn.js"></script>
</body>
</html>